header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 60px;
    height: 65px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 40px;
}

.nav-links-1 {
    margin: 0 auto;
}

.nav-links-1 ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links-1 ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

/* login button style */
.login-btn-1 {
    cursor: pointer;
    padding: 5px 15px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.login-btn-1:hover {
    padding: 5px 15px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 4px;
}

/* icon styles */
.navbar-menu-icon {
    font-size: 30px;
    display: none;
    cursor: pointer;
}

.navbar-close-icon {
    display: none;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 100;
}

/* link underline effect  */
.link-style li a {
    position: relative;
}

.link-style li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    background-color: black;
    transition: all 0.3s ease-out;
}

.link-style li a:hover::before {
    width: 120%;
}

/* responsive */
@media (max-width: 1000px) {
    header {
        padding: 10px 30px;
    }
}

@media (max-width: 700px) {
    header {
        position: relative;
    }

    .navbar-container {
        position: fixed;
        right: -250px;
        top: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 250px;
        background-color: rgb(179, 221, 235);
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
        transition: right 1s ease-in-out;
        z-index: 1000;
    }

    .navbar-container ul {
        flex-direction: column;
        margin-top: 80px;
        margin-bottom: 20px;
        align-items: center;
    }

    .navbar-container.active {
        right: 0;
    }

    /* icon styles */
    .navbar-menu-icon {
        display: block;
    }

    .navbar-close-icon {
        display: block;
    }
}