.hero-section {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.slide-img-1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* dark-effect over image for better text visibility */
.slide-img-1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

/* animated bar effect for image slider */
.animated-bar-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: rgb(187, 186, 186);
    animation: slideRight 15s linear;
}

@keyframes slideRight {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* text-styling */
.slide-text-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    width: 700px;
    transform: translate(50%, -100%);
    font-size: 25px;
    color: white;
    z-index: 100;
    line-height: 35px;
}

.slide-text-container a {
    color: rgb(11, 233, 11);
    font-weight: bold;
}

.img-heading-1 {
    margin-bottom: 15px;
}

/* slide buttons styling */
.slide-switch-btns {
    z-index: 100;
    position: absolute;
    width: 100%;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(204, 204, 204);
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.slide-switch-btns ul {
    list-style: none;
    font-weight: 500;
    display: flex;
    gap: 150px;
}

.slide-switch-btns ul li {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slide-switch-btns ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 137px;
    bottom: -137px;
    background-color: rgb(204, 204, 204);
}

/* link hover*/
.slide-switch-btns ul li:hover {
    color: white;
}

.slide-switch-btns ul li:hover::after {
    background-color: white;
}

/* responsive design */
@media (max-width: 1700px) {
    .slide-text-container {
        margin: 0 auto;
        transform: translate(0, -50%);
    }
}

@media (max-width: 1400px) {
    .slide-switch-btns {
        display: none;
    }
}


@media (max-width: 830px) {
    .slide-text-container {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .slide-text-container {
        width: 300px;
    }
}